src/Nessworthy/BusinessGateway/assets/schemas/EnquiryByPropertyDescriptionV2_0PollWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="EnquiryByPropertyDescriptionV2_0PollWebService" targetNamespace="http://poll.epdv2_0.ws.bg.lr.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://poll.epdv2_0.ws.bg.lr.gov/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://poll.epdv2_0.ws.bg.lr.gov/" xmlns:ns1="http://www.oscre.org/ns/eReg/MR01-20090605/PollRequest" xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseSearchByPropertyDescriptionV2_0" xmlns:ns3="http://poll.epdv2_0.ws.bg.lr.gov/">
            <xsd:import namespace="http://www.oscre.org/ns/eReg/MR01-20090605/PollRequest" schemaLocation="PollRequest.xsd"/>
            <xsd:import namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseSearchByPropertyDescriptionV2_0" schemaLocation="ResponseSearchByPropertyDescriptionV2_0.xsd"/>
            <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string"/>
            <xsd:element name="getResponse" type="ns3:getResponse"/>
            <xsd:element name="getResponseResponse" type="ns3:getResponseResponse"/>
            <xsd:complexType name="getResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="ns1:PollRequestType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getResponseResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns2:ResponseSearchByPropertyDescriptionV2_0Type"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="propertyDescriptionPollRequest">
        <part name="parameters" element="tns:getResponse">
        </part>
    </message>
    <message name="SOAPEngineSystemException">
        <part name="fault" element="tns:SOAPEngineSystemException">
        </part>
    </message>
    <message name="propertyDescriptionPollResponse">
        <part name="parameters" element="tns:getResponseResponse">
        </part>
    </message>
    <portType name="PropertyDescriptionEnquiryV2_0PollService">
        <operation name="getResponse">
            <input message="tns:propertyDescriptionPollRequest">
            </input>
            <output message="tns:propertyDescriptionPollResponse">
            </output>
            <fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException">
            </fault>
        </operation>
    </portType>
    <binding name="PropertyDescriptionEnquiryV2_0PollRequestWSImplPortBinding" type="tns:PropertyDescriptionEnquiryV2_0PollService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getResponse">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPEngineSystemException">
                <soap:fault name="SOAPEngineSystemException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="EnquiryByPropertyDescriptionV2_0PollWebService">
        <port name="PropertyDescriptionEnquiryV2_0PollRequestWSImplPort" binding="tns:PropertyDescriptionEnquiryV2_0PollRequestWSImplPortBinding">
            <soap:address location="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/EnquiryByPropertyDescriptionV2_0PollWebService"/>
        </port>
    </service>
</definitions>
