src/Nessworthy/BusinessGateway/assets/schemas/OfficialCopyTitleKnownV2_1WebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OfficialCopyTitleKnownV2_0WebService" targetNamespace="http://officialcopyv2_1.ws.bg.lr.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://officialcopyv2_1.ws.bg.lr.gov/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://officialcopyv2_1.ws.bg.lr.gov/" xmlns:ns1="http://www.oscre.org/ns/eReg-Final/2011/RequestTitleKnownOfficialCopyV2_1" xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseTitleKnownOfficialCopyV2_0" xmlns:ns3="http://officialcopyv2_1.ws.bg.lr.gov/">
            <xsd:import namespace="http://www.oscre.org/ns/eReg-Final/2011/RequestTitleKnownOfficialCopyV2_1" schemaLocation="RequestTitleKnownOfficialCopyV2_1.xsd"/>
            <xsd:import namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseTitleKnownOfficialCopyV2_0" schemaLocation="ResponseTitleKnownOfficialCopyV2_0.xsd"/>
            <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string"/>
            <xsd:element name="performTitleKnownSearch" type="ns3:performTitleKnownSearch"/>
            <xsd:element name="performTitleKnownSearchResponse" type="ns3:performTitleKnownSearchResponse"/>
            <xsd:complexType name="performTitleKnownSearch">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="ns1:RequestTitleKnownOfficialCopyV2_1Type"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="performTitleKnownSearchResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="ns2:ResponseTitleKnownOfficialCopyV2_0Type"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="SOAPEngineSystemException">
        <part name="fault" element="tns:SOAPEngineSystemException">
        </part>
    </message>
    <message name="oC1TitleKnownRequest">
        <part name="parameters" element="tns:performTitleKnownSearch">
        </part>
    </message>
    <message name="oC1TitleKnownResponse">
        <part name="parameters" element="tns:performTitleKnownSearchResponse">
        </part>
    </message>
    <portType name="OC1TitleKnownV2_1Service">
        <operation name="performTitleKnownSearch">
            <input message="tns:oC1TitleKnownRequest">
            </input>
            <output message="tns:oC1TitleKnownResponse">
            </output>
            <fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException">
            </fault>
        </operation>
    </portType>
    <binding name="OC1TitleKnownV2_1WSImplPortBinding" type="tns:OC1TitleKnownV2_1Service">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="performTitleKnownSearch">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPEngineSystemException">
                <soap:fault name="SOAPEngineSystemException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="OfficialCopyTitleKnownV2_1WebService">
        <port name="OC1TitleKnownV2_1WSImplPort" binding="tns:OC1TitleKnownV2_1WSImplPortBinding">
            <soap:address location="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/OfficialCopyTitleKnownV2_1WebService"/>
        </port>
    </service>
</definitions>
